-- CreateTable
CREATE TABLE "School" (
    "id" TEXT NOT NULL,
    "schoolName" TEXT NOT NULL,
    "schoolImage" TEXT,
    "schoolExternalId" TEXT NOT NULL,
    "schoolFlexAccount" TEXT NOT NULL,
    "schoolProductId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'Active',
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdBy" TEXT NOT NULL DEFAULT 'system',
    "updatedBy" TEXT NOT NULL DEFAULT 'system',

    CONSTRAINT "School_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OnlineOnboarding" (
    "id" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "dateOfBirth" TEXT,
    "nationalId" TEXT,
    "phone" TEXT NOT NULL,
    "email" TEXT,
    "homeBranch" TEXT NOT NULL,
    "faydaVerified" BOOLEAN NOT NULL DEFAULT false,
    "faydaData" TEXT,
    "livenessCheckPassed" BOOLEAN NOT NULL DEFAULT false,
    "videoUrl" TEXT,
    "videoWord" TEXT,
    "signatureUrl" TEXT,
    "accountNumber" TEXT,
    "accountType" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Pending',
    "submittedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reviewedAt" TIMESTAMP(3),
    "approvedAt" TIMESTAMP(3),
    "rejectedAt" TIMESTAMP(3),
    "rejectionReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OnlineOnboarding_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OnboardingReview" (
    "id" TEXT NOT NULL,
    "onboardingId" TEXT NOT NULL,
    "reviewerEmail" TEXT NOT NULL,
    "reviewerName" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "notes" TEXT,
    "reviewedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "OnboardingReview_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "School_schoolExternalId_key" ON "School"("schoolExternalId");

-- CreateIndex
CREATE INDEX "School_status_idx" ON "School"("status");

-- CreateIndex
CREATE INDEX "School_schoolExternalId_idx" ON "School"("schoolExternalId");

-- CreateIndex
CREATE INDEX "OnlineOnboarding_status_idx" ON "OnlineOnboarding"("status");

-- CreateIndex
CREATE INDEX "OnlineOnboarding_homeBranch_idx" ON "OnlineOnboarding"("homeBranch");

-- CreateIndex
CREATE INDEX "OnlineOnboarding_phone_idx" ON "OnlineOnboarding"("phone");

-- CreateIndex
CREATE INDEX "OnboardingReview_onboardingId_idx" ON "OnboardingReview"("onboardingId");

-- AddForeignKey
ALTER TABLE "OnboardingReview" ADD CONSTRAINT "OnboardingReview_onboardingId_fkey" FOREIGN KEY ("onboardingId") REFERENCES "OnlineOnboarding"("id") ON DELETE CASCADE ON UPDATE CASCADE;

